body {
    text-align: center;
}

#container {
    border: 3px solid blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    border: 1px solid black;
    background: lightgray;
}

button {
    background-color: ;
    text-align: center;
    font-size: 16px;
    margin: 0px 25px 25px;
    padding: 10px;
}